*{
    padding: 0;
    margin: 0;
    font-family: 'Poppin', sans-serif;
}


.content-box{
   
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/home2.jpg); 
 width: 100%;
height: 100%; 
 background-position: center; 
 background-size: cover; 
}