*{
	margin: 0;
	padding: 0;
	font-family:'poppins' sans-serif;
	box-sizing: border-box;
}

.container{
		width: 100%;
		min-height: 100vh;
		background: linear-gradient(135deg, black ,orange);
		padding: 10px;
		color: black;
	}

.container h1{
	text-align: center;
	color: white;
	padding-top: 20px;
}

.container h1 span{
	padding: 10px;
	color: black;
	background: linear-gradient(90deg, aqua, grey);
	border-radius: 10px;
}

.container h1 span:hover{
	color: blue;
}

.todo-app{
	width: 50%;
	min-width: 540px;
	background: #fff;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

.todo-app h2{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #002765;
}

.todo-app img{
	width: 30px;
	margin-left: 0;
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	padding-left: 20px;
	margin-bottom: 25px; 
	background: darkgrey;
}

input{
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
	font-weight: 14;
}

button{
	border: none;
	outline: none;
	padding: 16px 50px;
	background: #ff5945;
	color: #fff;
	fill-size: 16px;
	cursor: pointer;
	border-radius: 40px;
}

ul li{
	list-style: none;
	font-size: 17px;
	padding: 16px 8px 12px 50px;
	cursor: pointer;
	user-select: none;
	position: relative;
}

ul li::before{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  content: '';
  position: absolute;
  background-image: url(image/check.jpg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
	color: #555;
	text-decoration: line-through;
}

ul li.checked::before{
	  background-image: url(image/checked2.png);
}

ul li span{
	position: absolute;
	top: 5px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: red;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
}

ul li span:hover{
	background: grey;
}